<div class="col-auto">
</div>
<div class="col-auto d-flex p-0">
  <div id="flash-message" class=" d-inline-block px-3 my-auto" style="display:none;"></div>

  <%=image_tag("cross.svg",
      class: "d-inline-block my-auto px-3 btn",
      id: "cancel-list-create",
      height: "24px") %>


  <%= form_for [current_user, @list],
      remote: true,
      class: "d-inline-block" do |f| %>
    <%= f.text_field :title,
        placeholder: "List title...",
        autofocus: true,
        class:"list-input-title" %>
    <%= f.submit class:"list-input-button tem-btn btn"%>
  <% end %>
</div>
