<div class="col-2">
  <div id="list-<%= list.id %>">
    <div class="title border-bottom position-sticky">
      <h1><%= list.title %></h1>
    </div>

    <div class="text-right add-movie-button">
      Add a movie
    </div>

    <div class="timestamp">
      <%= list.created_at.to_date %>
    </div>

    <div id="movies-holder">
      <%if list.movie_lists.any? %>
        <% list.movie_lists.each do |movie_list| %>
          <%= render movie_list.movie %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
