
 <img
      class="close-movie-details"
      id="close-movie-details"
      src="icons/cross.svg"
      alt="Delete"
      style="height:42px; top: 5%;position: absolute;left: 90%;">

<div id="movie-details" class="movie-grid d-flex" style="width: 50vw;">
  <div id="poster-holder" class="grid-item--movie d-inline">
    <img src="no-poster.svg" alt="no-poster"
         style="width: inherit"
         class="img-responsive">
  </div>

  <div id="movie-info" class="grid-item--movie p-3 d-inline">
    <h1> <%= movie.title %> </h1>
  </div>
</div>
