
  <%=image_tag("cross.svg",
      class: "m-auto btn",
      id: "close-movie-details",
      style: "height:42px; top: 5%;position: absolute;left: 90%;",
      height: "24px") %>


<div id="movie-details" class="movie-grid d-flex" style="width: 50vw;">
  <div id="poster-holder" class="grid-item--movie d-inline">
    <img src="no-poster.svg" alt="no-poster"
         style="width: inherit"
         class="img-responsive">
  </div>

  <div id="movie-info" class="grid-item--movie p-3 d-inline">
    <h1> <%= movie.title %> </h1>
  </div>
</div>
