<!-- <div class="modal-box container" id="movie-details-modal" style="display: none">
  <div class="d-inline-block" id="movie-poster" style="height: 100%">
    <div class="image-placeholder">
      <img src="no-poster.svg" alt="no-poster">
    </div>
  </div>
  <div class="d-inline-block" id="info">
    <div class="" id="modal-title">
      <%= movie.title %>
    </div>
    <%= link_to "Add", movies_path(movie: movie_params, list_id: params[:list_id]),
                       remote: true,
                       method: :post %>
  </div>
</div> -->
