<% provide(:title, "Your profile") %>

<div class="lists grid masonry" style="padding-top:30px">
  <% if @user.lists.any? %>
    <%= render @lists %>
  <% end %>
</div>

<div id="movie-details-holder"></div>

<div id="humongous-input-holder" style="display: none">
  <div class="humongous-input-background">
    <input type="text" placeholder="the name of the movie" autofocus class="humongous-input" id="search-query">
  </div>
</div>

<script>
  $('.grid').masonry({
    // options
    itemSelector: '.grid-item'
  });

  $(document).on('click', '#cancel-list-create', function(event){
    $("#top-menu").html("<%= j render partial: 'layouts/top_menu' %>");
  });
</script>
