<div class="justify-content-between position-fixed row border-bottom" style="width:100%">
  <% if logged_in? %>
    <div class="col-auto">
      <%= link_to "New List", new_user_list_path(current_user) %>
    </div>
    <div class="col-auto">
    <%= link_to "Log out", logout_path, method: :delete %>
    </div>
  <% else %>
    <%= link_to "sign up", signup_path %>
    <%= link_to "log in", login_path %>
  <% end %>
</div>
