  <% if logged_in? %>
    <div class="col-auto" style="font-weight: 900">
      3000LISTEDFILMS
    </div>
    <div class="col-auto">
      <div id="flash-message" style="display:none;"></div>
    </div>
    <div class="col-auto" id="new-list">
      <%= link_to "New List", [:new, current_user, :list],
      remote: true %>
    </div>
  <% else %>
    <%= link_to "sign up", signup_path %>
    <%= link_to "log in", login_path %>
  <% end %>
